.div>p{
    font-size:  30px;
    color: aquamarine;
    background: rgb(179, 161, 161);
}
div p{
    font-size: 50;
    color: blueviolet;
    background-color: rgb(169, 192, 175);
    border: rgb(187, 177, 176);
}